/* Color GeTXE, Created by UI */
.redwhite,.hover-redwhite:hover{color:#ff0000!important;background-color:#ffffff!important}
.whitered,.hover-whitered:hover{color:#ffffff!important;background-color:#ff0000!important}
.blued,.hover-blued:hover{color:#ffffff!important;background-color:#0066ff!important}
.AEFT,.hover-AEFT:hover{color:#C98CFE!important;background-color:#170031!important}
.AEFT-invers,.AEFT-hover-invers:hover{color:#C98CFE!important;background-color:#ffffff!important}
.DRWV,.hover-DRWV:hover{color:#40F21E!important;background-color:#151D00!important}
.DRWV-invers,.DRWV-hover-invers:hover{color:#40F21E!important;background-color:#ffffff!important}
.IDSN,.hover-IDSN:hover{color:#FF398E!important;background-color:#1B0009!important}
.IDSN-invers,.IDSN-hover-invers:hover{color:#FF398E!important;background-color:#ffffff!important}
.ILST,.hover-ILST:hover{color:#FF7D0C!important;background-color:#1C0B00!important}
.ILST-invers,.ILST-hover-invers:hover{color:#FF7D0C!important;background-color:#ffffff!important}
.LIRM,.hover-LIRM:hover{color:#AFD3EB!important;background-color:#041B27!important}
.LIRM-invers,.LIRM-hover-invers:hover{color:#AFD3EB!important;background-color:#ffffff!important}
.MUSE,.hover-MUSE:hover{color:#BCDD1C!important;background-color:#161C00!important}
.MUSE-invers,.MUSE-hover-invers:hover{color:#BCDD1C!important;background-color:#ffffff!important}
.PHXS,.hover-PHXS:hover{color:#15C8FA!important;background-color:#00141D!important}
.PHXS-invers,.PHXS-hover-invers:hover{color:#15C8FA!important;background-color:#ffffff!important}
.PPRO,.hover-PPRO:hover{color:#E06BFE!important;background-color:#200028!important}
.PPRO-invers,.PPRO-hover-invers:hover{color:#E06BFE!important;background-color:#ffffff!important}
.STCK,.hover-STCK:hover{color:#FF388E!important;background-color:#1B0009!important}
.STCK-invers,.STCK-hover-invers:hover{color:#FF388E!important;background-color:#ffffff!important}
.COUDE,.hover-COUDE:hover{color:#F2CA8C!important;background-color:#0A0D1C!important}
.COUDE-invers,.COUDE-hover-invers:hover{color:#F2CA8C!important;background-color:#ffffff!important}
.CHAMA,.hover-CHAMA:hover{color:#00CDFF!important;background-color:#181212!important}
.CHAMA-invers,.CHAMA-hover-invers:hover{color:#00CDFF!important;background-color:#ffffff!important}
.DRREC,.hover-DRREC:hover{color:#91A9FF!important;background-color:#001331!important}
.DRREC-invers,.DDREC-hover-invers:hover{color:#91A9FF!important;background-color:#ffffff!important}
.ERODE,.hover-ERODE:hover{color:#FF0078!important;background-color:#580C10!important}
.ERODE-invers,.ERODE-hover-invers:hover{color:#FF0078!important;background-color:#ffffff!important}
.EXRMA,.hover-EXRMA:hover{color:#FE0000!important;background-color:#3A1A0D!important}
.EXRMA-invers,.EXRMA-hover-invers:hover{color:#FE0000!important;background-color:#ffffff!important}
.JONES,.hover-JONES:hover{color:#EBEEE7!important;background-color:#0E0F14!important}
.JONES-invers,.JONES-hover-invers:hover{color:#EBEEE7!important;background-color:#ffffff!important}
.LOLIC,.hover-LOLIC:hover{color:#BF69FE!important;background-color:#0A0B1E!important}
.LOLIC-invers,.LOLIC-hover-invers:hover{color:#BF69FE!important;background-color:#ffffff!important}
.VIROM,.hover-VIROM:hover{color:#009CFF!important;background-color:#080427!important}
.VIROM-invers,.VIROM-hover-invers:hover{color:#009CFF!important;background-color:#ffffff!important}
.VOISA,.hover-VOISA:hover{color:#0063FF!important;background-color:#1F2630!important}
.VOISA-invers,.VOISA-hover-invers:hover{color:#0063FF!important;background-color:#ffffff!important}
.WAIFU,.hover-WAIFU:hover{color:#E2394E!important;background-color:#440000!important}
.WAIFU-invers,.WAIFU-hover-invers:hover{color:#E2394E!important;background-color:#ffffff!important}
.Skecth,.hover-Skecth:hover{color:#14C8F9!important;background-color:#00141D!important}
.CC,.hover-CC:hover{color:#FFF!important;background-color:#009FD2!important}
.CCCC,.hover-CCCC:hover{color:#A18BFE!important;background-color:#0CC0FC!important}
.PIXIV,.hover-PIXIV:hover{color:#FFF!important;background-color:#009CFF!important}
.UBUNTU,.hover-UBUNTU:hover{color:#FFF!important;background-color:#DD4814!important}
.DB3,.hover-DB3:hover{color:#FFF!important;background-color:#00AEEF!important}
.AMD,.hover-AMD:hover{color:#FFF!important;background-color:#009A66!important}
.NVIDIA,.hover-NVIDIA:hover{color:#FFF!important;background-color:#83BB00!important}
.INTEL,.hover-INTEL:hover{color:#127BCA!important;background-color:#FFF!important}
.VS-P,.hover-VS-P:hover{color:#FFFFFF!important;background-color:#6817A0!important}
.VS-WB,.hover-VS-WB:hover{color:#FFFFFF!important;background-color:#2D2D30!important}
.MS-OFC,.hover-MS-OFC:hover{color:#FFFFFF!important;background-color:#EB3B00!important}
.w3-10red,.w3-hover-10red:hover{color:#FFFFFF!important;background-color:#400000!important}
.w3-25red,.w3-hover-25red:hover{color:#FFFFFF!important;background-color:#800000!important}
.w3-70red,.w3-hover-70red:hover{color:#FFFFFF!important;background-color:#FF6666!important}
.w3-80red,.w3-hover-80red:hover{color:#000000!important;background-color:#FF9999!important}
.w3-35red,.w3-hover-35red:hover{color:#FFFFFF!important;background-color:#B30000!important}
.w3-30red,.w3-hover-30red:hover{color:#FFFFFF!important;background-color:#990000!important}
.w3-true-red,.w3-hover-true-red:hover{color:#FFFFFF!important;background-color:#FF0000!important}
.w3-deep-red,.w3-hover-deep-red:hover{color:#FFFFFF!important;background-color:#CC0000!important}
/* Copy from Actual Color */
